@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/Larsseit.eot') format('eot'),
    url('./fonts/Larsseit.ttf') format('ttf'),
    url('./fonts/Larsseit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/Larsseit-Bold.eot');
    url('./fonts/Larsseit-Bold.ttf') format('ttf'),
    url('./fonts/Larsseit-Bold.woff') format('woff'),
    font-weight: bold;
}

body {
    font-family: Larsseit, sans-serif;
    margin: 0;
    padding: 0;
}

.first_screen {
    background-color: #F4F9E2;
    background-image: url("./img/bg_first_section.png");
    background-repeat: no-repeat;
    background-position: right;
}

.header {
    height: 100px;
}

.container {
    width: 1010px;
    height: 100%;
    margin: auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
    font-weight: bold;
}

.top-menu a {
    display: inline-block;
    text-decoration: none;
    color: #22356F;
    padding-bottom: 5px;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition-delay: .2s;
}

.top-menu a:hover {
    color: #22356F;
    border-bottom-color: #22356F;
}

.top-menu a:last-child {
    margin-right: 0;
}

.header_btn a {
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    width: 150px;
    height: 50px;
    background: #62D0DF;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.helping_text {
    width: 1010px;
    height: 100%;
    margin: auto;
    padding-top: 90px;
}

.helping_text h1 {
    display: flex;
    font-size: 48px;
    line-height: 53px;
    width: 484px;
    height: 167px;
    margin: 0;
    flex-wrap: wrap;
    color: #22356F;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
}

.helping_text p {
    display: flex;
    flex-wrap: wrap;
    width: 469px;
    height: 161px;
    color: #22356F;
    font-size: 24px;
    font-weight: normal;
    justify-content: center;
    align-items: center;
}

.helping_text_btn {
    display: inline-block;
    border: none;
    background: transparent;
    width: 150px;
    height: 50px;
    margin-bottom: 75px;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
    border-radius: 0;
    color: #FAB63E;
    font-size: 16px;
    padding: 0;
}

.helping_text_btn:hover {
    background: #F9B640;
    color: #ffffff;
}

.second_screen {
    background-color: #62D0DF;
    color: #ffffff;
    background-image: url("./img/bd_second.png");
    background-repeat: no-repeat;
    background-position: right;
}

.second_text {
    height: 607px;
    margin: auto;
}

.second_text h3 {
    font-size: 36px;
    margin: 0;
    padding-bottom: 75px;
    padding-top: 151px;
}

.second_text p {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 35px;
    width: 555px;
    height: 235px;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.about_us_inner {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    color: #22356F;
}

.about_us_top {
    font-size: 16px;
    margin-top: 150px;
    margin-right: 225px;
    text-transform: uppercase;
}

.about_us_text {
    width: 592px;
    margin-top: 150px;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}

.about_us_bottom {
    margin: 76px auto 0;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(34, 53, 111, 0.5);
}

.cards_small {
    display: flex;
    width: 100%;
}

.card {
    flex-basis: 25%;
    height: 360px;
    padding: 72px 52px 0 52px;
    box-sizing: border-box;
}

.card_title {
    width: 100%;
    height: 54px;
    padding-top: 23px;
    padding-left: 24px;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 34px;
    border-top: 1px solid #FFFFFF;
    position: relative;
}

.card_title::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 9px;
    height: 9px;
    background: #E9B730;
    border-radius: 50%;
}

.card_pink {
   background-color: #FFE2DE;
}

.card_green {
    background-color: #C4E769;
}

.card_blue {
    background-color:  #62D0DF;
}

.card_dark_blue {
    background-color: #0052C1;
}

.cards_big {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    width: 100%;
}

.card_two {
    flex-basis: calc(100% / 3);
    height: 480px;
    box-sizing: border-box;
    padding: 96px 70px 0 70px;
}

.card1{
    background-color: #22356F;
}
.card2{
    background-color: #0052C1;
}
.card3{
    background-image: url("./img/smoozy.png");
}
.card4{
    background-color: #62D0DF;
}
.card5{
   background-color: #DEE1FF;
}
.card6{
    background-color: #8F00FF;
}


.facts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    width: 100%;
}

.fact {
    flex-basis: calc(100% / 3);
    height: 240px;
    box-sizing: border-box;
}

.fact h3 {
    font-size: 28px;
    line-height: 33px;
    color: #22356F;
    margin: 55px 141px 0 105px;
}

.fact p {
    font-size: 16px;
    line-height: 25px;
    color: rgba(34, 53, 111, 0.5);
    margin: 28px 77px 37px 105px;
}

.people {
    background-image: url("./img/people.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 77px;
}

.people_inner {
    height: 800px;
    margin: auto;
}

.people_top {
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #22356F;
    padding: 103px 0 225px 0;
    text-align: center;
}

.people_text {
    font-size: 36px;
    color: #22356F;
    font-weight: bold;
    margin-left: 400px;
}

.color {
    color: #62D0DF;
    font-weight: bold;
}

.people_bottom {
    font-size: 16px;
    line-height: 23px;
    color: #FAB63E;
    text-transform: uppercase;
    margin: 152px 400px 0;
}

.contact {
    background-color: #22356F;
    background-image: url("./img/man.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
}

.contact_top {
    padding-top: 103px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
}

.contact_text h3 {
    font-size: 64px;
    padding-top: 230px;
    color: #FFFFFF;
    font-weight: bold;
}

.contact_text p {
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    padding-right: 480px;
}

.contact_bottom {
    color: #62D0DF;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}

.footer {
    background-image: url("./img/footer.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 380px;
}

.footer_container {
    display: flex;
    margin-left: 638px;
}

.footer_item {
    width: 200px;
    margin-top: 98px;
    margin-right: 110px;
}

.footer_item:last-child {
    margin-right: 0;
}

.footer_item h3 {
    font-size: 14px;
    line-height: 11px;
    color: #22356F;
    text-transform: uppercase;
}

.footer_item p {
    padding-top: 50px;
    font-size: 14px;
    line-height: 23px;
    color: rgba(34, 53, 111, 0.5);
    position: relative;
}

.footer_bottom {
    position: absolute;
    padding-top: 250px;
    padding-left: 310px;
    font-size: 14px;
    line-height: 23px;
    color: rgba(34, 53, 111, 0.5);
}

.brand {
    background: #62D0DF;
    height: 80px;
}

.brand_inner {
    font-size: 14px;
    line-height: 11px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-left: 194px;
}